// styles.scss

@import 'Home.scss';
@import 'Navbar.scss';
@import 'About.scss';
@import 'Banner.scss';
@import 'Footer.scss';
@import 'Cards.scss';
@import 'Card.scss';
@import 'Carousel.scss';
@import 'Shaping.scss';
@import 'Collapse.scss';
@import 'Footer.scss';
@import 'ErrorPage.scss';

.app-container {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #007bff;
    color: white;
    padding: 20px;
  }
  
  .main-content {
    padding: 20px;
  }
  